@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<body style="background-color: rgba(244, 217, 107, 255);">
</body>
</html>


<div class="text-center">
    <img src="img/zealandlogo.png" />

    <h2>News</h2>
    <p>
        First and foremost, welcome to this app. The Zealand-zamkørsel, is based on a 2. semester project. This app is still in a very early state, yet you are still able to register, create and book courses.
    </p>

    <h2>How the app works</h2>
    <p>

        <p>This app is pretty simple to use. If you are a new user, simply register onto the app, by clicking the ‘Register’ button, next you fill out needed information. If you choose to be a driver, you are able to create courses, where other users can book themself onto. </p>

        <p>If you already are an existing user, you can bypass the first step, and simply use the app as we intended. </p>

        <p>We do hope you enjoy this app.</p> 

        <p>Kind regards the dev. team:</p> 

        <p> Benjamin, Victor, Tobias and Peter</p> 
        
    </p>
</div>



